/* Custom properties/variables  */
:root {
    --main-white: #f0f0f0;
    --main-red: #FF69B4;
    --main-blue: #00FFFF;
    --main-gray: #303841;
  }
  
body{
    text-align: center;
}
main {
    background-color: var(main-blue);
}
footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    background: var(--main-white);
    border-top: 4px solid var(--main-red);
    background-color: azure;
  }
