nav{
    background-color: aqua;
}
body{
    text-align: center;
    background-color:  #00FFFF;
}
main {
    background-color: whitesmoke;
    padding: 2rem;
}
footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    border-top: 2px solid #FF69B4;;
    background-color: azure;
  }
